{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html>


<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" type="text/css" href="{% static 'users/main.css' %}">

</head>

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="{% static 'image/magnative_main_logo.jpg' %}" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form method="POST">
        {% csrf_token %}
      <!--<input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
      <input type="text" id="password" class="fadeIn third" name="login" placeholder="password"-->
        <fieldset class="form-group">
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Login</button>
        </div >
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
        <small class="text-muted">
            Need An Account?<a class="underlineHover ml-2" href="#">Sign Up</a>
        </small>
    </div>

  </div>
</div>